@charset "UTF-8";

@font-face {
    font-family: 'icomoon';
    src:    url('../../fonts/icomoon.eot?4kyu24');
    src:    url('../../fonts/icomoon.eot?4kyu24#iefix') format('embedded-opentype'),
        url('../../fonts/icomoon.ttf?4kyu24') format('truetype'),
        url('../../fonts/icomoon.woff?4kyu24') format('woff'),
        url('../../fonts/icomoon.svg?4kyu24#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

$icon-elemento: "\e900";
$icon-mail: "\e901";
$icon-map: "\e902";
$icon-phone: "\e903";
$icon-waze: "\e904";

@mixin icon-content($content) {
  &::before {
    content: $content;
  }
}

@mixin icon($content, $size: 30) {
  @include icon-content($content);

  &::before {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: $size + px;
    text-align: center;
    vertical-align: middle;
  }
}
