@charset "UTF-8";

@font-face {
    font-family: 'icomoon';
    src:    url('../../fonts/icomoon.eot?imo4ug');
    src:    url('../../fonts/icomoon.eot?imo4ug#iefix') format('embedded-opentype'),
        url('../../fonts/icomoon.ttf?imo4ug') format('truetype'),
        url('../../fonts/icomoon.woff?imo4ug') format('woff'),
        url('../../fonts/icomoon.svg?imo4ug#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

$icon-elemento: "\e900";
$icon-mail: "\e901";
$icon-map: "\e902";
$icon-phone: "\e903";
$icon-waze: "\e904";
$icon-facebook: "\e905";
$icon-youtube: "\e906";

@mixin icon-content($content) {
  &::before {
    content: $content;
  }
}

@mixin icon($content, $size: 30) {
  @include icon-content($content);

  &::before {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: $size + px;
    text-align: center;
    vertical-align: middle;
  }
}
