.navbar
	.container
		> .navbar-header
			.navbar-toggle
				background-color: $logo-color

			.navbar-brand
				+icon($icon-elemento, 15)
				font-weight: bold
				color: #fff

				&:before
					vertical-align: inherit
					color: $logo-color
		
		> .navbar-collapse
			> .main-menu
				li
					&.active
						a
							cursor: default

			> .social-menu
				li
					a
						&.facebook
							+icon($icon-facebook, 20)

						&.youtube
							+icon($icon-youtube, 20)
	