.cover
	background-image: url(./../../assets/images/a-empresa.jpg)
	background-attachment: fixed
	background-position: center
	background-repeat: no-repeat
	background-size: cover
	margin-bottom: 0

	img
		width: 40%
		margin-top: 3em
		margin-bottom: 3em

		@media (min-width: 500px)
			width: 30%
			margin-top: 4em
			margin-bottom: 4em

		@media (min-width: 767px)
			width: 20%
			margin-top: 6em
			margin-bottom: 6em

		@media (min-width: 1170px)
			width: 15%
			margin-top: 7em
			margin-bottom: 7em

.bem-vindo
	background-color: $logo-color
	color: #fff

	h2
		margin-top: 0

.historia
	.page-header
		margin-top: 0

		h2 
			margin-top: 0

.footer
	background-color: #f1f1f1

	> .container
		> .row
			@media (max-width: 767px)
				text-align: center
				
			.endereco
				address
					line-height: 150%

					.icon-map
						+icon($icon-map, 15)

			.contatos
				.icon-phone
					+icon($icon-phone, 15)

				.icon-mail
					+icon($icon-mail, 15)

				.icon-waze
					+icon($icon-waze, 15)

				.icon-map
					+icon($icon-map, 15)