.carousel
	.carousel-inner
		.item
			.carousel-caption
				.btn-slide
					margin: 15px

.bem-vindo
	background-color: $logo-color
	color: #fff

.historia
	.page-header
		margin-top: 0

		h2 
			margin-top: 0

.footer
	background-color: #f1f1f1

	> .container
		> .row
			@media (max-width: 767px)
				text-align: center
				
			.endereco
				address
					line-height: 150%

					.icon-map
						+icon($icon-map, 15)

			.contatos
				.icon-phone
					+icon($icon-phone, 15)

				.icon-mail
					+icon($icon-mail, 15)

				.icon-waze
					+icon($icon-waze, 15)

				.icon-map
					+icon($icon-map, 15)